body {
    background-image: url('https://t3.ftcdn.net/jpg/01/17/33/22/360_F_117332203_ekwDZkViF6M3itApEFRIH4844XjJ7zEb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h1{
    color: beige;
}

